<!doctype html>
<html>
  <head>
    <%-include("../head.ejs") %>
  </head>
  <body>
    <%-include("../header.ejs") %>
    <section id="match_container">
      <div>
        <%-include("match/form")%>
      </div>
      <%
        if(typeof playerMatches != "undefined"){
          var l = playerMatches.length;
          while(l--){
            %><div>
              <iframe src="<%-routePaths.apps+
                '/'+playerMatches[l].gamename+
                '/'+playerMatches[l].id%>"></iframe>
            </div><%
          }
        }
      %>
    </section>
    <script type="text/javascript" src="apps/matchmaker.js" ></script>
    <div class="template" id="game_location" title="Choose the Host Type">
      <form>
        <label><input type="radio" name="type" value="rtc" /> RTC</label>
        <label><input type="radio" name="type" value="ws" /> Server</label>
        <label><input type="number" name="amount" value=0 />Vote weight</label>
        <button type="submit" >Submit</button>
      </form>
    </div>
    <%-include("../footer.ejs") %>
  </body>
</html>
