<!doctype html>
<html>
  <head>
    <style type="text/css" >
    .login-container>li{
      display:inline-block;
    }
    </style>
  </head>
  <body>
    <%-include("../header.ejs") %>
    <div>
      <article class="markdown">
        <%-theApp.readme%>
      </article>
      <a class="play" href="<%-routePaths.apps%>/<%-theApp.name%>/join" >Play Now</a>
    </div>
    <%-include("../footer.ejs") %>
  </body>
</html>
