<!doctype html>
<html>
  <head>
    <%-include("../head.ejs") %>
  </head>
  <body>
    <%-include("../header.ejs") %>
    <section id="match_container">
      <div>
        <%-include("match/form")%>
      </div>
      <%
        if(typeof playerMatches != "undefined"){
          var l = playerMatches.length;
          while(l--){
            %><div>
              <iframe src="<%-routePaths.apps+
                '/'+playerMatches[l].gamename+
                '/'+playerMatches[l].id%>"></iframe>
            </div><%
          }
        }
      %>
    </section>
    <script type="text/javascript">
      var Server = require("Server");
      var url = require("url");
      var querystring = require("qs");
      jQuery(function($){
        var $matches = $("#match_container");
        var $form = $matches.find("form");
        var MatchMaker = new Server("<%-routePaths.apps%>");
        $form.on("submit",function(e){
          e.preventDefault();
          if(!MatchMaker.ready) return;
          MatchMaker.get("find", querystring.parse($form.serialize()), function(e,value){
            if(e) throw e;
            var frame = $("<div><iframe "+
              "src=\"<%-routePaths.apps%>/"+value.game+"/"+value.match+"\""+
              " ></iframe></div>"
            );
            $matches.append(frame);
          });
        });
        var uri = url.parse(document.location.href);
        if(!uri.search) return;
        $form.unserialize(uri.search.substring(/^\?/.test(uri)?1:0));
        $form.submit();
      });
    </script>
    <%-include("../footer.ejs") %>
  </body>
</html>
