<!doctype html>
<html>
  <head>
    <%-include("../head.ejs")%>
  </head>
  <body>
    <%-include("../header.ejs") %>
    <ul><%
      var l = matches.length;
      while(l--){
      %><li>
        <a href="/match/<%-matches[l]._id%>">
          <%=matches[l].advertisement%>
        </a>
      </li><%
      }
    %></ul>
    <form action="<%-routePaths.match%>/request" method="POST">
      <label for="gameType"> GameType:
        <select name="gameType"><%
          for(var i=0, l=appsList.length;i<l;i++){
            %><option value="<%=appsList[i].name" ><%=appsList[i].name%></option><%
          }
        %></select>
      </label>
    </form>
    <%-include("../footer.ejs") %>
  </body>
</html>
