<%
if(user){
%>
  <script type="text/javascript">
    window.User = <%-JSON.stringify(user)%>;
  </script>
  <h3>Hello <%=user.username%></h3>
  <a class="logout" href="/auth/logout">Logout</a>
<%
}else{
%>
  <script type="text/javascript">
    console.log("no user, so not creating a WebSocket.");
  </script>
  <h5>Login</h5>
  <ul><%
  var l = authTypes.length;
  while(l--){
    var provider = authTypes[l];
    %><li><%
    if(provider.client.form){
      %><%-provider.client.form%></li><%
      continue;
    }
    %><a class="login <%=provider.name%>" href="/auth/<%=provider.name%>/login" ><%
    if(provider.client.icon){
      %><img src='/auth/<%=provider.name%>/icon' title='Login with <%=provider.name%>' /><%
    }else{
      %><%=provider.name%><%
    }
    %></a></li><%
  }
%></ul><%
}
%>
